.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px 50px 50px 50px;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper-inner {
  display: flex;
  justify-content: center;
  align-items: center;

}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}




.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.or {
  border: 2px solid lightgray;
  border-radius: 50%;
  padding: 10px;
  color: gray;
  background-color: white;
  font-weight: bold;
  margin: 20px;
}

.line {
  width: 0.5px;
  height: 70%;
  background-color: lightgray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.loginButton {
  width: 100%;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

.google {
  background-color: #df4930;
}

.facebook {
  background-color: #507cc0;
}

.github {
  background-color: black;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.input {
  border: none;
  outline: none;
  border-radius: 5px;
}

.input-first {
  margin-bottom: 10px;
}

.submit {
  width: 100%;
  background-color: rgba(128, 0, 128, 0.671);
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}



.Title {
  color: #857b7b;
  font-size: 28px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.inputs {
  color: red;
  margin-bottom: 5px;
  
  
}

.warning {
  margin-top: 10px;
  font-size: 14px;
  color: blue;

  span{
    color: red;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 90%;
    padding: 10px;
  }
  .loginButton {
    width: 100%;
    padding: 10px 15px;
  }
  .input {
    width: 100%;
    padding: 10px 15px;
  }
  .submit {
    width: 100%;
    padding: 10px 15px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .wrapper {
    max-width: 80%;
    padding: 15px;
  }
  .loginButton {
    width: 120px;
    padding: 15px 20px;
  }
  .input {
    width: 180px;
    padding: 15px 20px;
  }
  .submit {
    width: 180px;
    padding: 15px 20px;
  }
}

@media only screen and (min-width: 1025px) {
  .wrapper {
    max-width: 70%;
    padding: 20px;
  }
  .loginButton {
    width: 150px;
    padding: 15px 25px;
  }
  .input {
    width: 200px;
    padding: 15px 25px;
  }
  .submit {
    width: 200px;
    padding: 15px 25px;
  }
}
